
.labelCatal {
    width: 31%;
    font-size: 0.83em;
    font-weight: bold;
  }
  
  ion-textarea,
  ion-datetime {
    border: 2px solid var(--ion-color-primary);
    outline: none;
    width: 61%;
    font-size: 0.85em;
    text-align: center;
  }
  
  .class{
    margin-left: 5%;
  }