.negrilla1{
    font-weight:bold;
    width: 100%;
  }

.ancho1{
    padding: 0%;
    width: 68% !important;
    margin-left: 5%;
    text-align: center !important;
  }

.contenedor{
    width: 100% !important;
  }

.anchoNom1{
    padding: 0%;
    width: 30% !important;
  }

.anchoDat1{
    width: 55%;
    padding: 0%;
    margin-left: 2%;
  }
  

.ionLabel{
    font-size: 0.85em;
  }

