.labelResult {
    font-size: 0.85em;
    width: 100%;
    margin-left: -20%;
  }
  
  .labelCatal {
    width: 38%;
    font-size: 0.83em;
    font-weight: bold;
  }
  
  .diaHora {
    display: inline-block;
    width: 33%;
  }
  
  .diaHoraN {
    display: inline-block;
    width: 33%;
    font-weight: bold;
  }
  