.negrilla1{
    font-weight:bold;
    width: 100%;
  }

.ancho1{
    padding: 0%;
    width: 35% !important;
    margin-left: 5%;
    text-align: center !important;
  }
  .ionLabel{
    font-size: 0.85em;
  }

  .contenedor{
    width: 100% !important;
  }

  .anchoDat1{
    width: 55%;
    padding: 0%;
    margin-left: 2%;
  }

  .anchoSelect{
    width: 15%;
    padding: 0%;
    margin-left: 1%;
  }