<app-enca-atras titulo="{{titCompar}}"> PERMISO</app-enca-atras>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col style="text-align: center;">

        <ion-item>
          <ion-label class="labelCatal  ion-text-wrap"> Fecha Presenta: </ion-label>
          <ion-datetime value="{{ persona.fFin | date: 'yyyy-MM-dd HH:mm'}}" display-format="DD MMMM YYYY HH:mm"
            cancelText="Cancelar!!!" (ionChange)="cambioFecha($event)"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label class="labelCatal  ion-text-wrap"> Motivo suspende: </ion-label>
          <ion-input maxlength="100" class=" ion-text-wrap" placeholder="{{persona.observacion}}" type="text"
            [(ngModel)]="newMotivo">
          </ion-input>
        </ion-item>

        <ion-button shape="round" fill="outline" (click)="suspender(persona.observacion)"> GUARDAR </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>