
.labelCatal {
    width: 27%;
    font-size: 0.83em;
    font-weight: bold;
  }
  
  ion-textarea,
  ion-datetime {
    border: 2px solid var(--ion-color-primary);
    outline: none;
    width: 70%;
    font-size: 0.85em;
    margin-left: 3%;
    text-align: center;
  }
  